@media (max-width: 1600px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-brand img {
    width: 255px;
  }
}
@media (max-width: 900px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
  }
  .nav-item:not(:last-child) {
    border-right: 0px;
  }
  .navbar-text {
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 20px;
  }
  .titulo-big {
    font-size: 68px;
  }
  .titulo {
    font-size: 42px;
  }
  .cta-item:nth-child(2) {
    border-right: 0px;
  }
  .cta-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .conten-documental {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .video-content {
    height: 600px;
  }
}
@media (max-width: 767px) {
  .navbar-brand img {
    width: 200px;
  }
  #banner-principal {
    padding-top: 80px;
  }
  .titulo-big {
    font-size: 32px;
  }

  .cta-item:not(:last-child) {
    border-right: 0px;
    border-bottom: 1px solid #fff;
  }
  .video-content {
    height: 400px;
  }
  .footer-titulo {
    padding-top: 25px;
  }
}
